volumes
opensearch-agent-server/opensearch-agent-server/
opensearch-mcp-server-py/opensearch-mcp-server-py/
opensearch-dashboards/OpenSearch-Dashboards/
.env
build/
.gradle/
.idea/
opensearch/ubi-hits-search-pipeline.zip
.vscode/
*.bu
*.DS_Store
katas/.venv
katas/.ipynb_checkpoints
katas/celerybeat-schedule.db
katas/django-errors.log
venv/
__pycache__/

reactivesearch/node_modules
RES
.workspace_id
